/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** Filtres ***********/
    .barre-filtres {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 16px;
    }

    .filtres {
        display: block;
    }

    .element-filtre-1 {
        padding-right: 20px;
    }

    /****** Hebergements-and-populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        flex-direction: column;
        margin-bottom: 0;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 100%;
        margin-bottom: 0px;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activites ***********/

    .activites img {
        height: 200px;
    }

    .activites .card-content {
        height: 50px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /****** Global ***********/
    .main-container {
        width: 100%;
        padding: 0;
    }

    .populaires-cards,
    .hebergements-cards,
    .activites-cards,
    .liens-footer {
        display: flex;
        flex-direction: column;
    }

    /****** En tete et menu ***********/
    .liste_nav {
        margin: 0;
    }

    .liste_nav li {
        width: 50%;
        margin: 0;
        text-align: center;
        border-bottom: #f2f2f2 solid 2px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .liste_nav a {
        width: 100%;
        margin: 0;
    }


    .liste_nav li:hover {
        border-bottom: #0065FC solid 2px;
        border-top: none;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .logo-container {
        padding-top: 30px;
    }

    .menu-container {
        width: 100%;
    }

    /****** Populaires ***********/
    .populaires-cards a {
        width: 100%;
    }

    /****** Recherche ***********/
    .parametres-recherche {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 30px;
    }

    #bouton-rechercher {
        display: none;
    }

    #bouton-rechercher-mobile {
        display: flex;
    }

    .barre-filtres button {
        width: 162px;
    }

    #localisation {
        width: 100%;
        border-right: none;
    }


    /****** Filtres ***********/
    .element-filtre-1 {
        width: 100%;
    }

    .barre-filtres {
        width: 100%;
    }

    .barre-filtres div {
        justify-content: flex-start;
    }

    .barre-filtres {
        display: flex;
        justify-content: flex-start;
        align-items: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    .barre-filtres button {
        width: 49%;
        font-size: 14px;
    }

    /****** Hebergements-and-populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    /****** Hebergements ***********/
    .bouton-afficher-plus {
        background-color: white;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    /****** Populaires ***********/
    .populaires {
        width: 100%;
        margin-top: 0px;
    }

    .populaires-cards .card-content {
        width: 100%;
    }

    /****** Activites ***********/
    .activites {
        margin: 0px 30px;
    }

}